#Contenido{
background-color:green;
margin-left:125px;

}
.Subtemas{
width: 300px;
height: 475px;
float: left;
}
.IMG {
width: 300px;
height: 245px;
border-top: 10px solid black;
border-bottom: 10px solid black;
}
#Peon{
background-color: green;
text-align:center;
margin-left:30px;
}
#Caballo{
background-color: green;
text-align:center;
margin-left:30px;
}
#Alfil{
background-color: green;
text-align:center;
margin-left:30px;
}
#Contenido2{
background-color: red;
border-bottom: 200px;
}
.Subtemas2{
    width:300px;
    height:475px;
    float:left;
}
#Reyna{
background-color:green;
text-align:center;
margin-left:300px;
}
#Rey{
background-color:green;
text-align:center;
margin-left:25px;
}
.IMG2{
    width:300px;
    height:245px;
    border-top:10px solid black;
    border-bottom:10px solid black;
}