#Contenido{
    background-color:green;
    margin-left:35px;
}
#Contenido2{
    background-color: red;
    border-bottom:200px;
}
#Tema{
    text-align: center;
}
#Parrafo{
    text-align: center;
}
.Subtemas{
    width:300px;
    height:725px;
    float:left;
}
.Imagenes{
    width:250px;
    height:200px;
    border-top:10px solid black;
    border-bottom:10px solid black;
}
#uno{
    background-color: rgb(212, 125, 84);
    text-align:center;
    margin-left:30px;

}
#dos{
    background-color: rgb(92, 92, 225);
    text-align:center;
    margin-left:30px;
}
#tres{
    background-color: rgb(158, 239, 212);
    text-align: center;
    margin-left:30px;
}

.Imagenes2{
    width:250px;
    height:200px;
    border-top:10px solid black;
    border-bottom:10px solid black;
}
.Subtemas2{
    width:300px;
    height:475px;
    float:left;

}
#cuatro {
    background-color: rgb(95, 95, 239);
    text-align: center;
    margin-left: 300px;
}

#cinco {
    background-color: rgb(228, 169, 169);
    text-align: center;
    margin-left: 30px;
    
}
Form{
background-color: rgb(236, 52, 52);
font-size:18pt;
}
.intput{
background-color:rgb(80, 202, 202);
}
body{
    background-color: rgb(16, 123, 123);
}
.h1