.seccion{
    width:330px;
    height:525px;
    float:left;
}
#parte-1{
background-color: rgb(239, 161, 125);
    text-align: center;
    margin-left: 150px;
    font-size: 18pt;
}
#parte-2{
background-color: rgb(116, 49, 18);
    text-align: center;
    margin-left: 30px;
    font-size: 18pt;
}
#parte-3{
background-color: rgb(132, 235, 104);
    text-align: center;
    margin-left: 30px;
    font-size: 18pt;
}
input{background-color: rgb(93, 93, 241);}
#h1{
    text-align:center;
    font-size:30pt;
}
