.Titulo{
    background-color:red;
    text-align: center;
    width:400px;
    height:20px;
}
.Subtemas{
    width: 300px;
    height: 725px;
    float: left;}
#uno{
    background-color: rgb(212, 125, 84);
    text-align: center;
    margin-left: 30px;

}
#dos {
    background-color: rgb(92, 92, 225);
    text-align: center;
    margin-left: 30px;
}
#tres{
    background-color: aqua;
    text-align: center;
    margin-left:30px;
}